:root {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
	background: linear-gradient(-45deg, pink, purple, red, yellow);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

h1 {
    text-align: center;
    font-size: 2rem;
}

.gallery-container {
	display: flex;
	justify-content: center;
}

#gallery {
    display: flex;
    height: 80vh;
    width: 90%;
}


.figure {
    margin: 1em;
    height: 100%;
}

#caption {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 2rem;
}

#featured {
    width: 100%;
    height: 100%;
    object-fit: cover;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

ul {
    display: flex;
	/* flex-direction: column; */
    flex-wrap: wrap;
    list-style: none;
	justify-content: center;
    gap: 10px;
	height: 100%;
	max-width: 35%;
}

ul li {
    margin: 0.5em;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
    border-radius: 8px;
}

ul li:hover,
ul li.active {
    filter: grayscale(0%);
    cursor: pointer;
}



.thumbnail-img {
    border-radius: 10px;
}
